// $colors: (
//   "first-color": #552ced,
//   "text-color": #222d39,
//   "text-color-alt": #283043,
//   "text-color-light": #585858,
//   "text-color-lighten": #5a667c,
//   "text-color-dark": #000,
//   "text-color-gray": #828282,
//   "text-color-gray-light": #c4c4c4,
//   "text-color-gray-dark": #4f4f4f,
//   "text-color-white": #fff,
//   "text-color-white-alt": #f8fafd,
// );

$first-color: #552ced;
$text-color: #222d39;
$text-color-alt: #283043;
$text-color-light: #585858;
$text-color-lighten: #5a667c;
$text-color-dark: #000;
$text-color-gray: #828282;
$text-color-gray-light: #c4c4c4;
$text-color-gray-dark: #4f4f4f;
$text-color-white: #fff;
$text-color-white-alt: #f8fafd;
$text-color-white-alt2: #eff2f5;
$first-color-white-alt-3:#fbfafa;
